<section class="headline">
  <h1>Services</h1>
  <p>Co location Services | Other Services</p>
</section>

<section class="heading">
  <h1>Co location Services</h1>
</section>

<!--text-bg-img-->
<section class="text-bg-img-out">
  <section
    class="text-bg-img"
    style="
      background-image: linear-gradient(
          -90deg,
          rgba(0, 0, 0, 0.121),
          rgba(0, 0, 0, 0.871)
        ),
        url(../../../assets/images/aboutTheCompany/5.webp);
    "
  >
    <div class="bg-text-left">
      <h1>Rack Space</h1>
      <p>
        Experience unparalleled reliability and security with our dedicated rack
        space service, providing customised power solutions tailored to your
        needs. Each rack offers a generous capacity of 42U, ensuring ample space
        for your equipment and enabling seamless scalability as your business
        grows.
      </p>
    </div>
  </section>
</section>

<!--text-bg-img-->
<section class="text-bg-img-out">
  <section
    class="text-bg-img"
    style="
      justify-content: right;
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.121),
          rgba(0, 0, 0, 0.871)
        ),
        url(../../../assets/images/Services/2.jpg);
    "
  >
    <div class="bg-text-left">
      <h1>
        Server Rack <br />
        Cage
      </h1>
      <p>
        Elevate your security standards with our Server Rack Cage service,
        featuring customizable options for opaque, solid privacy panels or
        complete mesh cages from floor to ceiling. Our self-closing doors
        utilise badge and biometric access, ensuring robust authentication
        measures for unparalleled data protection and compliance adherence.
        Experience peace of mind knowing your critical infrastructure is
        safeguarded by Anant Raj Data Centers' advanced security solutions.
      </p>
    </div>
  </section>
</section>

<!--text-bg-img-->
<section class="text-bg-img-out">
  <section
    class="text-bg-img"
    style="
      background-image: linear-gradient(
          -90deg,
          rgba(0, 0, 0, 0.121),
          rgba(0, 0, 0, 0.871)
        ),
        url(../../../assets/images/Services/3.jpg);
    "
  >
    <div class="bg-text-left">
      <h1>
        Dedictaed <br />
        Server Hall
      </h1>
      <p>
        Unlock the ultimate in control and security with our Dedicated Server
        Hall/Suite service—a data center within a data center, providing
        exclusive suites or rooms tailored to your specifications. Enjoy
        complete control over your infrastructure in a secure environment,
        coupled with the flexibility to scale as needed.
      </p>
    </div>
  </section>
</section>

<!--text-bg-img-->
<section class="text-bg-img-out">
  <section
    class="text-bg-img"
    style="
      justify-content: right;
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.121),
          rgba(0, 0, 0, 0.871)
        ),
        url(../../../assets/images/Services/4.jpg);
    "
  >
    <div class="bg-text-left">
      <h1>
        Dedictaed Server <br />
        Floor Space
      </h1>
      <p>
        Maximise your control and flexibility with our Dedicated Server Floor
        Space service, offering full customization and security control over
        your cabling, power, and infrastructure. Benefit from the advantage of
        on-demand scalability, allowing you to expand or contract your footprint
        as your business needs evolve. Experience unparalleled freedom and
        efficiency with Anant Raj Data Centers' dedicated floor space solution
        tailored to your exact requirements.
      </p>
    </div>
  </section>
</section>

<!---  Other Services  -->

<section class="inTheNewsOut">
  <div class="inTheNews">
    <h1>In the News</h1>

    <div class="newsOut">
      <div class="news">
        <div
          class="singleNews"
          style="
            background-image: radial-gradient(
                rgba(0, 0, 0, 0.121),
                rgba(0, 0, 0, 0.871)
              ),
              url(../../../assets/images/Services/5.jpg);
          "
        >
          <a href="#"><b>Smart Hands</b></a>
          <p>
            Empower your business with our Smart Hands service, featuring
            skilled technicians and engineers ready to execute your instructions
            within your colocation space. With 24x7 availability, our experts
            are on standby to provide assistance and complete physical tasks as
            needed, ensuring seamless operations and peace of mind for our
            clients
          </p>
        </div>

        <!--Single-->

        <div
          class="singleNews"
          style="
            background-image: radial-gradient(
                rgba(0, 0, 0, 0.121),
                rgba(0, 0, 0, 0.871)
              ),
              url(../../../assets/images/Services/6.jpg);
          "
        >
          <a href="#"><b>Secure Office Space</b></a>
          <p>
            Enhance your data center experience with our Value-Added Services,
            including seamless deployment of inter-rack cabling and expert rack
            and stack services for your servers. Our solutions are fully
            customized to meet your unique needs while ensuring compliance with
            industry security standards.
          </p>
        </div>

        <!--Single-->

        <div
          class="singleNews"
          style="
            background-image: radial-gradient(
                rgba(0, 0, 0, 0.121),
                rgba(0, 0, 0, 0.852)
              ),
              url(../../../assets/images/aboutTheCompany/4.jpg);
          "
        >
          <a href="#"><b>Value-Added Service</b></a>
          <p>
            Elevate your workspace with our Secure Office Space solution,
            offering exclusive, customised environments equipped with basic
            fit-outs, furniture, and advanced security measures. Benefit from
            multi-factor authentication using badge and biometric readers,
            ensuring unparalleled protection for your confidential data and
            operations. Explore additional value-added services tailored to
            enhance your productivity and comfort, all within a secure and
            controlled environment
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
