<section class="headline">
  <h1>Locations</h1>
  <p>One State, Three Locations</p>
</section>

<section class="locationsHead">
  <h1>
    One State <br />
    Three Locations
  </h1>
  <div class="infinityAndText">
    <img src="../../../assets/misc/infinity.png" alt="infinity" />
    <h1>Possiblities</h1>
  </div>
</section>

<!-- Our Services  -->

<section class="ourServicesOut">
  <h1>Our Services</h1>

  <div class="ourServices">
    <div class="text-control-services">
      <div class="arrows-services">
        <div class="arrow-services" (click)="servicesLeft()">
          <img src="../../../assets/images/left-arrow.png" alt="" />
        </div>
        <div class="arrow-services" (click)="servicesRight()">
          <img src="../../../assets/images/right-arrow.png" alt="" />
        </div>
      </div>
    </div>

    <div class="servicesOut">
      <div class="services">
        <!--Single-->
        <div
          class="singleService"
          style="
            background-image: radial-gradient(
                rgba(0, 0, 0, 0.121),
                rgba(0, 0, 0, 0.871)
              ),
              url(../../../assets/images/Locations/Manesar.jpg);
          "
        >
        <div class="cardBack">
          <a href="#"><b>Manesar</b></a>
          <br />
          <br>
          <p><b>Total Area</b>: 10 Acres
            <br>
            <br>
            <b>Constructed Area:</b> 1.8 million sq.ft.
            <br>
            <br>
            <b>Certification:</b> TIA-942 Tier III Certification
            <br>
            <br>
            <b>Capacity:</b> <br>  1st Phase: 450,000 Sq. Ft. of IT space with 21 MW IT Load 
            <br>
            <br>
            <b>Total Capacity:</b> 50 MW IT Load 
            <br>
            <br>
            <b>Connectivity:</b> Carrier neutral, interconnection to Global gateways and traffic exchange
            <br>
            <br>
            <b>Efficiency:</b>
            <br> 
            Status: Currently operational
            </p>
          <button class="transparentButton">Read More</button>
        </div>
          <div class="cardFront">
            <a href="#"><b>Manesar</b></a>
            <br />
            <br>
            <button class="transparentButton">Read More</button>
          </div>
        </div>


         <!--Single-->
         <div
         class="singleService"
         style="
           background-image: radial-gradient(
               rgba(0, 0, 0, 0.121),
               rgba(0, 0, 0, 0.871)
             ),
             url(../../../assets/images/Locations/Panchkula.jpg);
         "
       >
       <div class="cardBack">
         <a href="#"><b>Panchkula</b></a>
         <br />
         <br>
         <p>
          <b>Total Area:</b> 9.5 Acres
          <br>
          <br>
          <b>Certification:</b> TIA-942 Tier III Certification
          <br>
          <br>
          <b>Capacity:</b> Built-to-Suit Tier III & Tier IV Certified Data Center with 50 MW IT Load Capacity (600,000 Sq. Ft.)
          <br>
          <br>
          <b>Connectivity:</b> Carrier neutral, interconnection to Global gateways and traffic exchange
          <br>
          <br>
          <b>Efficiency:</b>
          <br> 
          Status: Under construction
           </p>
         <button class="transparentButton">Read More</button>
       </div>
         <div class="cardFront">
           <a href="#"><b>Panchkula</b></a>
           <br />
           <br>
           <button class="transparentButton">Read More</button>
         </div>
       </div>

        <!--Single-->
        <div
          class="singleService"
          style="
            background-image: radial-gradient(
                rgba(0, 0, 0, 0.121),
                rgba(0, 0, 0, 0.871)
              ),
              url(../../../assets/images/Locations/Rai.jpg);
          "
        >
        <div class="cardBack">
          <a href="#"><b>Rai</b></a>
          <br />
          <br>
          <p>
            <b>Total Area:</b> 25 Acres
            <br>
            <br>
            <b>Certification:</b> To be specified
            <br>
            <br>
            <b>Capacity:</b> Potential for up to 200 MW IT load capacity in a combination of an existing Tier III data center and a new-built Tier IV data center.
            <br>
            <br>
            <b>Connectivity:</b> Carrier neutral, interconnection to Global gateways and traffic exchange
            <br>
            <br>
            <b>Efficiency:</b> 
            <br>
            <b>Status:</b> To be developed
            
            </p>
          <button class="transparentButton">Read More</button>
        </div>
          <div class="cardFront">
            <a href="#"><b>Rai</b></a>
            <br />
            <br>
            <button class="transparentButton">Read More</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
