<section class="headline">
  <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">Locations</h1>
  <p>One State, Three Locations</p>
</section>

<section class="locationsHead" >
  <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
    One State <br />
    Three Locations
  </h1>
  <div class="infinityAndText" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
    <img src="../../../assets/misc/infinity.png" alt="infinity" />
    <h1>Possiblities</h1>
  </div>
</section>

<!-- Our Services  -->

<section class="ourServicesOut" id="locations">
  <!--<h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">Our Services</h1>-->

  <div class="ourServices">
    <div class="text-control-services">
      <div class="arrows-services">
        <div class="arrow-services" (click)="servicesLeft()">
          <img src="../../../assets/images/left-arrow.png" alt="" />
        </div>
        <div class="arrow-services" (click)="servicesRight()">
          <img src="../../../assets/images/right-arrow.png" alt="" />
        </div>
      </div>
    </div>

    <div class="servicesOut">
      <div class="services">
        <!--Single-->
        <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300"
          class="singleService"
          style="
            background-image: radial-gradient(
                rgba(0, 0, 0, 0.121),
                rgba(0, 0, 0, 0.871)
              ),
              url(../../../assets/images/Services/ManesarITPark-1.jpg);
          "
        >
        <div class="cardBack">
          <a><b>Manesar</b></a>
          <br />
          <br>
          <p><b>Total Area</b>: 10 Acres
            <br>
            <br>
            <b>Constructed Area:</b> 1.8 million sq.ft.
            <br>
            <br>
            <b> Construction:</b> Tier 3 Certification
            <br>
            <br>
            <b>Certification:</b> TIA-942 Tier III Certification
            <br>
            <br>
            <b>Capacity:</b> <br>  1st Phase: 450,000 Sq. Ft. of IT space with 21 MW IT Load 
            <br>
            <br>
            <b>Total Capacity:</b> 50 MW IT Load 
            <br>
            <br>
            <b>Connectivity:</b> Carrier neutral, interconnection to Global gateways and traffic exchange
            <br>
            <br>
            <b>Efficiency:</b>
            <br> 
            Status: Currently operational
            </p>
          <!--<button class="transparentButton">Read More</button>-->
        </div>
          <div class="cardFront">
            <a><b>Manesar</b></a>
            <br>
          </div>
        </div>


         <!--Single-->
         <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="600"
         class="singleService"
         style="
           background-image: radial-gradient(
               rgba(0, 0, 0, 0.121),
               rgba(0, 0, 0, 0.871)
             ),
             url(../../../assets/images/Locations/Rai.jpg);
         "
       >
       <div class="cardBack">
         <a><b>Panchkula</b></a>
         <br />
         <br>
         <p>
          <b>Total Area:</b> 9.5 Acres
          <br>
          <br>
          <b>Certification:</b> Proposed TIA-942 Tier III Certification
          <br>
          <br>
          <b>Capacity:</b> Built-to-Suit Tier III & Tier IV Certified Data Center with 50 MW IT Load Capacity (600,000 Sq. Ft.)
          <br>
          <br>
          <b>Connectivity:</b> Carrier neutral, interconnection to Global gateways and traffic exchange
          <br>
          <br>
          <b>Efficiency:</b>
          <br> 
          Status: Under construction
           </p>
       </div>
         <div class="cardFront">
           <a><b>Panchkula</b></a>
           <br>
         </div>
       </div>

        <!--Single-->
        <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="900"
          class="singleService"
          style="
            background-image: radial-gradient(
                rgba(0, 0, 0, 0.121),
                rgba(0, 0, 0, 0.871)
              ),
              url(../../../assets/images/Locations/Panchukula.jpg);
          "
        >
        <div class="cardBack">
          <a><b>Rai</b></a>
          <br />
          <br>
          <p>
            <b>Total Area:</b> 25 Acres
            <br>
            <br>
            <b>Certification:</b> To be specified
            <br>
            <br>
            <b>Capacity:</b> Potential for up to 200 MW IT load capacity in a combination of an existing Tier III data center and a new-built Tier IV data center.
            <br>
            <br>
            <b>Connectivity:</b> Carrier neutral, interconnection to Global gateways and traffic exchange
            <br>
            <br>
            <b>Efficiency:</b> 
            <br>
            <b>Status:</b> To be developed
            
            </p>
        </div>
          <div class="cardFront">
            <a><b>Rai</b></a>
            <br>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
