<section class="headline">
    <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
      SiteMap
    </h1>
    <!--<p>Co location Services | Other Services</p>-->
  </section>


  <section class="sitemap">

    <ul>
        <li><a href="https://anantrajcloud.com">Home</a></li>
        <li><a href="https://anantrajcloud.com/services/">Services</a></li>
        <li><a href="https://anantrajcloud.com/features/">Features</a></li>
        <li><a href="https://anantrajcloud.com/locations/">Locations</a></li>
        <li><a href="https://anantrajcloud.com/allblog/">Blogs</a></li>
        <li><a href="https://anantrajcloud.com/company/">About Us</a></li>
    </ul>

  </section>