<section class="headline">
  <h1>Features</h1>
  <!--<p>Co location Services | Other Services</p>-->
</section>

<!--Feature Section-->
<section class="features">
  <div
    class="featureImg"
    style="
      background-image: url(../../../assets/images/News/data_centres_Anantraj_1705672102446_1705672107547.avif);
    "
  ></div>

  <div class="featureText">
    <h1>5 tier Security</h1>
    <p>
      Experience unparalleled reliability and security with our dedicated rack
      space service, providing customised power solutions tailored to your
      needs. Each rack offers a generous capacity of 42U, ensuring ample space
      for your equipment and enabling seamless scalability as your business
      grows.
    </p>
  </div>
</section>

<!--Feature Section-->
<section class="features">
  <div
    class="featureImg"
    style="
      background-image: url(../../../assets/images/aboutTheCompany/1.jpg);
    "
  ></div>

  <div class="featureText">
    <h1>Uninterrupted connections</h1>
    <p>
      Experience uninterrupted operations with our Concurrently Maintainable
      Design, meticulously crafted to Tier III standards and rated 3 for
      redundancy. Our robust infrastructure ensures that maintenance activities
      can be performed without impacting your critical operations, minimising
      downtime and maximising reliability. Trust Anant Raj Data Centers to
      provide the resilience and redundancy your business demands for continuous
      uptime and peace of mind
    </p>
  </div>
</section>

<!--Feature Section-->
<section class="features">
  <div
    class="featureImg"
    style="
      background-image: url(../../../assets/images/aboutTheCompany/2.jpg);
    "
  ></div>

  <div class="featureText">
    <h1>N+N redundancy for UPS & telecom infrastructure</h1>
    <p>
      Rely on uninterrupted power and communication with our N+N redundancy for
      UPS and telecom infrastructure, exceeding Tier III norms which typically
      require N+1 redundancy. Our advanced redundancy configuration ensures that
      your critical systems remain operational even in the event of component
      failure, providing unparalleled reliability and peace of mind
    </p>
  </div>
</section>

<!--Feature Section-->
<section class="features">
  <div
    class="featureImg"
    style="
      background-image: url(../../../assets/images/Services/4.jpg);
    "
  ></div>

  <div class="featureText">
    <h1>Green Building (IGBC pre-certified)</h1>
    <p>
      Embrace sustainability with our Green Building, proudly pre-certified by
      the Indian Green Building Council (IGBC). Our commitment to environmental
      responsibility extends to every aspect of our facility, from
      energy-efficient design to eco-friendly materials and practices.
    </p>
  </div>
</section>

<!--Feature Section-->
<section class="features">
  <div
    class="featureImg"
    style="
      background-image: url(../../../assets/images/Services/3.jpg);
    "
  ></div>

  <div class="featureText">
    <h1>High Bandwidth Connectivity</h1>
    <p>
      Stay connected at lightning speed with our High Bandwidth Connectivity,
      boasting 2 Meet-Me Rooms (MMRs) and 2 Main Distribution Areas (MDAs). This
      robust network infrastructure ensures seamless and redundant connectivity,
      allowing you to transfer data with unparalleled efficiency and
      reliability. Experience the power of ultra-fast and resilient connectivity
      with Anant Raj Data Centers, empowering your digital operations to reach
      new heights.
    </p>
  </div>
</section>
