<section class="headline">
  <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
    Features
  </h1>
  <!--<p>Co location Services | Other Services</p>-->
</section>

<!--Feature Section-->
<section class="features" id="5TierSecurity">
  <div
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-delay="300"
    class="featureImg"
    style="
      background-image: url(../../../assets/images/Features/5TierCollage.png);
    "
  ></div>

  <div
    class="featureText"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-delay="300"
  >
    <h1>Multiple Security Layers</h1>
    <p>
      Experience peace of mind with our state-of-the-art data center, fortified
      by five tiers of comprehensive security measures, blending digital and
      physical safeguards. Our round-the-clock surveillance, operational 365
      days a year, ensures constant vigilance over your valuable assets,
      providing unmatched protection and reliability.
    </p>
  </div>
</section>

<!--Feature Section-->
<section class="features" id="uninterruptedServices">
  <div
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-delay="300"
    class="featureImg"
    style="background-image: url(../../../assets/images/aboutTheCompany/1.jpg)"
  ></div>

  <div
    class="featureText"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-delay="300"
  >
    <h1>Uninterrupted Services</h1>
    <p>
      Experience uninterrupted operations with our Concurrently Maintainable
      Design, meticulously crafted to Tier III standards and rated 3 for
      redundancy. Our robust infrastructure ensures that maintenance activities
      can be performed without impacting your critical operations, minimising
      downtime and maximising reliability. Trust Anant Raj Data Centers to
      provide the resilience and redundancy your business demands for continuous
      uptime and peace of mind
    </p>
  </div>
</section>

<!--Feature Section-->
<section class="features" id="NNRedundancy">
  <div
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-delay="300"
    class="featureImg"
    style="
      background-image: url(../../../assets/images/aboutTheCompany/LithiumIonBatteries.JPG);
    "
  ></div>

  <div
    class="featureText"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-delay="300"
  >
    <h1>N+N redundancy for UPS & telecom infrastructure</h1>
    <p>
      Rely on uninterrupted power and communication with our N+N redundancy for
      UPS and telecom infrastructure, exceeding Tier III norms which typically
      require N+1 redundancy. Our advanced redundancy configuration ensures that
      your critical systems remain operational even in the event of component
      failure, providing unparalleled reliability and peace of mind
    </p>
  </div>
</section>

<!--Feature Section
<section class="features">
  <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300"
    class="featureImg"
    style=" background-size: contain;
      background-image: url(../../../assets/images/Features/IndianGreenBuildingCouncilLOGO.png);
    "
  ></div>

  <div class="featureText" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
    <h1>Green Building (IGBC pre-certified)</h1>
    <p>
      Embrace sustainability with our Green Building, proudly pre-certified by
      the Indian Green Building Council (IGBC). Our commitment to environmental
      responsibility extends to every aspect of our facility, from
      energy-efficient design to eco-friendly materials and practices.
    </p>
  </div>
</section>-->

<!--Feature Section-->
<section class="features" id="highBandwidth">
  <div
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-delay="300"
    class="featureImg"
    style="
      background-image: url(../../../assets/images/Features/wi-fi-router-with-blue-optical-fiber-min.jpg);
    "
  ></div>

  <div
    class="featureText"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-delay="300"
  >
    <h1>High Bandwidth Connectivity</h1>
    <p>
      Stay connected at lightning speed with our High Bandwidth Connectivity,
      boasting 2 Meet-Me Rooms (MMRs) and 2 Main Distribution Areas (MDAs). This
      robust network infrastructure ensures seamless and redundant connectivity,
      allowing you to transfer data with unparalleled efficiency and
      reliability. Experience the power of ultra-fast and resilient connectivity
      with Anant Raj Data Centers, empowering your digital operations to reach
      new heights.
    </p>
  </div>
</section>
