<div class="page-wrapper">
  <div class="nav-wrapper">
    <div class="grad-bar"></div>
    <nav class="navbar">
      <img [src]="logoPath" alt="Company Logo" />
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav no-search">
        <li class="nav-item nav-with-sub"><a href="#">Home</a></li>

        <li class="nav-item nav-with-sub">
          <a href="#"
            >Our Services<img
              src="../../../assets/misc/down-arrow.png"
              alt="arrow"
          /></a>
          <section class="sub-nav-item">
            <ul>
              <li><a href="#">new1</a></li>
              <li><a href="#">new1</a></li>
              <li><a href="#">new1</a></li>
            </ul>
          </section>
        </li>
        <li class="nav-item nav-with-sub">
          <a href="#"
            >Features<img src="../../../assets/misc/down-arrow.png" alt="arrow"
          /></a>
          <section class="sub-nav-item">
            <ul>
              <li><a href="#">new1</a></li>
              <li><a href="#">new1</a></li>
              <li><a href="#">new1</a></li>
            </ul>
          </section>
        </li>
        <li class="nav-item nav-with-sub">
          <a href="#"
            >Locations<img
              src="../../../assets/misc/down-arrow.png"
              alt="arrow"
          /></a>
          <section class="sub-nav-item">
            <ul>
              <li><a href="#">new1</a></li>
              <li><a href="#">new1</a></li>
              <li><a href="#">new1</a></li>
            </ul>
          </section>
        </li>
        <li class="nav-item nav-with-sub">
          <a href="#"
            >About Us
            <img src="../../../assets/misc/down-arrow.png" alt="arrow"
          /></a>

          <section class="sub-nav-item">
            <ul>
              <li><a href="#">Company Overview</a></li>
              <li><a href="#">Sustainability</a></li>
            </ul>
          </section>
        </li>

        <!--<li class="nav-item nav-with-sub"><a href="#">Contact Us</a></li>
        <i class="fas fa-search" id="search-icon"></i>
         <input class="search-input" type="text" placeholder="Search..">-->
      </ul>
    </nav>
  </div>
  <section class="headline">
    <h1 style="font-weight: lighter; font-size: 2rem">ANANT RAJ CLOUD</h1>
    <h1>
      Infinite Scale <br />
      Boundless Possibilities
    </h1>
    <p>Entrust your data with Anant Raj Limited</p>

    <button class="lightButton" type="button">Explore Our Services</button>
  </section>
</div>

<router-outlet></router-outlet>

<footer class="footerSection">
  <div class="footerTextButton">
    <h1>Ready to work with us ?</h1>
    <button>
      Get Started
      <img src="../../../assets/images/right-arrow.png" alt="arrow" />
    </button>
  </div>

  <div class="footerLinks">
    <div class="footerLogos">
      <img class="anantLogoFooter" src="../../../assets/Logos/AnantRajCloud.png" alt="" />

      <div class="socials">
        <img
          src="../../../assets/images/SocialMedia/facebook.png"
          alt="facebook"
        />
        <img
          src="../../../assets/images/SocialMedia/instagram.png"
          alt="facebook"
        />
        <img
          src="../../../assets/images/SocialMedia/linkedin.png"
          alt="facebook"
        />
      </div>
    </div>

    <div class="links">
      <p><a href="">Company <br> Overview</a></p>
      <br>
      <ul>
        <li><a href="">Vision</a></li>
        <li><a href="">Mission</a></li>
        <li><a href="">About Us</a></li>
      </ul>
    </div>

    <div class="links">
      <p><a href="">Services</a></p>
      <br>
      <ul>
        <li><a href=""><b>Co Location Services:</b></a></li>
        <li><a href="">Rack space</a></li>
        <li><a href="">Dedicated server hall/suite</a></li>
        <li><a href="">Dedicated server floor space</a></li>
        <li><a href="">Server rack cage/ Secure Cage <br> with Multi Factor Authentication</a></li>
        <li><a href=""><b>Other services:</b></a></li>
        <li><a href="">Smart Hands</a></li>
        <li><a href="">Secure Office Space</a></li>
        <li><a href="">Value-Added Services</a></li>
      </ul>
    </div>

    <div class="links">
      <p><a href="">Features</a></p>
      <br>
      <ul>
        <li><a href="">Vision</a></li>
        <li><a href="">Mission</a></li>
        <li><a href="">About Us</a></li>
      </ul>
    </div>

    <div class="links">
      <p><a href="">Locations</a></p>
      <br>
      <ul>
        <li><a href="">Vision</a></li>
        <li><a href="">Mission</a></li>
        <li><a href="">About Us</a></li>
      </ul>
    </div>

    <div class="links">
      <p><a href="">In the News</a></p>
      <p><a href="">Blogs</a></p>
      <p><a href="">Contact Us</a></p>
      
    </div>

  </div>

</footer>
