<section class="coverPage">
  <img src="../../../assets/Logos/AnantRajCloud.png" alt="logo">
  <div class="gradient"></div>
  <video id="player" autoplay [muted]="true">
    <source src="../../../assets/Final Video Cover.mp4" />
</video>
  <button class="coverButton" (click)="disableCover()">CONTINUE <img src="../../../assets/misc/next.png" alt="next"></button>
</section>

<div class="page-wrapper">
  <div class="nav-wrapper">
    <div class="grad-bar"></div>
    <nav class="navbar">
      <a href="/"><img [src]="logoPath" alt="Company Logo" /></a>
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav no-search">
        <li class="nav-item nav-with-sub"><a href="#">Home</a></li>

        <li class="nav-item nav-with-sub">
          <a href="services"
            >Our Services<img
              src="../../../assets/misc/down-arrow.png"
              alt="arrow"
          /></a>
          <section class="sub-nav-item" style="transform: translateX(-300px)">
            <section
              style="display: flex; justify-content: space-around; width: 700px; padding: 30px;"
            >
              <div>
                <div class="sub-nav-text-icon">
                  <img
                    src="../../../assets/Logos/dropdowns/coservices.png"
                    alt=""
                  />
                  <p>Co Location Services:</p>
                </div>
                <ul>
                  <li><a href="services#RackSpace">Rack space</a></li>
                  <li>
                    <a href="services#DedicatedServerHall"
                      >Dedicated server hall/suite</a
                    >
                  </li>
                  <li>
                    <a href="services#DedicatedServerFloorSpace"
                      >Dedicated server floor space</a
                    >
                  </li>
                  <li>
                    <a href="services#ServerRackCage">Server rack cage</a>
                  </li>
                </ul>
              </div>
              <div>
                <div class="sub-nav-text-icon">
                  <img
                    src="../../../assets/Logos/dropdowns/otherService.png"
                    alt=""
                  />
                  <p>Other Services:</p>
                </div>
                <ul>
                  <li><a href="services#smartHands">Smart Hands</a></li>
                  <li>
                    <a href="services#secureOfficeSpace">Secure Office Space</a>
                  </li>
                  <li>
                    <a href="services#valueAddedService"
                      >Value-Added Services</a
                    >
                  </li>
                </ul>
              </div>
            </section>
          </section>
        </li>
        <li class="nav-item nav-with-sub">
          <a href="features"
            >Features<img src="../../../assets/misc/down-arrow.png" alt="arrow"
          /></a>
          <section
            class="sub-nav-item"
            style="width: 600px; transform: translateX(-250px); padding: 30px;"
          >
            <ul>
              <li><a href="features#5TierSecurity">Multiple Security Layers</a></li>
              <li>
                <a href="features#uninterruptedServices"
                  >Uninterrupted Services</a
                >
              </li>
              <li>
                <a href="features#NNRedundancy"
                  >N+N redundancy for UPS & telecom infrastructure</a
                >
              </li>
              <li>
                <a href="features#highBandwidth"
                  >High Bandwidth Connectivity (2 MMRs, 2MDAs)</a
                >
              </li>
            </ul>
          </section>
        </li>
        <li class="nav-item nav-with-sub">
          <a href="locations"
            >Locations<img
              src="../../../assets/misc/down-arrow.png"
              alt="arrow"
          /></a>
          <section class="sub-nav-item">
            <ul>
              <li><a href="locations#locations">Manesar</a></li>
              <li><a href="locations#locations">Rai</a></li>
              <li><a href="locations#locations">Panchkula</a></li>
            </ul>
          </section>
        </li>
        <li class="nav-item nav-with-sub">
          <a href="company"
            >About Us
            <img src="../../../assets/misc/down-arrow.png" alt="arrow"
          /></a>

          <section
            class="sub-nav-item"
            style="width: 300px; transform: translateX(-150px)"
          >
            <div class="sub-nav-text-icon">
              <img
                src="../../../assets/Logos/dropdowns/companyOverview.png"
                alt=""
              />
              <p><a href="company#companyOverview">Company Overview</a></p>
            </div>
            <!--<div class="sub-nav-text-icon">
              <img
                src="../../../assets/Logos/dropdowns/Sustainability.png"
                alt=""
              />
              <p><a href="company#companyOverview">Sustainability</a></p>
            </div>-->
            <div class="sub-nav-text-icon">
              <img src="../../../assets/Logos/dropdowns/contactUs.png" alt="" />
              <p><a href="contact">Contact Us</a></p>
            </div>
          </section>
        </li>

        <!--<li class="nav-item nav-with-sub"><a href="#">Contact Us</a></li>
        <i class="fas fa-search" id="search-icon"></i>
         <input class="search-input" type="text" placeholder="Search..">-->
      </ul>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="footerSection">
  <div class="footerTextButton">
    <h1>Ready to work with us ?</h1>
    <a href="contact">
      Get Started
      <img src="../../../assets/images/right-arrow.png" alt="arrow" />
    </a>
  </div>

  <div class="footerLinks">
    <div class="footerLogos">
      <a href="/"><img
        class="anantLogoFooter"
        src="../../../assets/Logos/AnantRajCloud.png"
        alt=""
      /></a>

      <div class="socials">
        <a href="https://www.facebook.com/profile.php?id=100092759263819" target="_blank"><img
          src="../../../assets/images/SocialMedia/facebook.png"
          alt="facebook"
        /></a>
        <a href="https://www.instagram.com/anantrajcloud/" target="_blank"><img
          src="../../../assets/images/SocialMedia/instagram.png"
          alt="instagram"
        /></a>
        <a href="https://www.linkedin.com/company/anantraj-cloud/?originalSubdomain=in" target="_blank"><img
          src="../../../assets/images/SocialMedia/linkedin.png"
          alt="linkedin"
        /></a>
      </div>
    </div>

    <div class="links">
      <p>
        <a href=""
          >Company <br />
          Overview</a
        >
      </p>
      <br />
      <ul>
        <li><a href="company#visionMission">Vision</a></li>
        <li><a href="company#visionMission">Mission</a></li>
        <li><a href="company">About Us</a></li>
      </ul>
    </div>

    <div class="links">
      <p><a href="services">Services</a></p>
      <br />
      <ul>
        <!--<li>
          <a href=""><b>Co Location Services:</b></a>
        </li>-->
        <li><a href="services#RackSpace">Rack space</a></li>
        <li>
          <a href="services#DedicatedServerHall">Dedicated server hall/suite</a>
        </li>
        <li>
          <a href="services#DedicatedServerFloorSpace"
            >Dedicated server floor space</a
          >
        </li>
        <li><a href="services#ServerRackCage">Server rack cage</a></li>

        <li>
          <a><b>Other services:</b></a>
        </li>
        <li><a href="services#smartHands">Smart Hands</a></li>
        <li><a href="services#secureOfficeSpace">Secure Office Space</a></li>
        <li><a href="services#valueAddedServices">Value-Added Services</a></li>
      </ul>
    </div>

    <div class="links">
      <p><a href="">Features</a></p>
      <br />
      <ul>
        <li><a href="features#5TierSecurity">5 tier security</a></li>
        <li>
          <a href="features#uninterruptedServices">Uninterrupted Services</a>
        </li>
        <li>
          <a href="features#NNRedundancy"
            >N+N redundancy for UPS & telecom infrastructure</a
          >
        </li>
        <li>
          <a href="features#highBandwidth"
            >High Bandwidth Connectivity (2 MMRs, 2MDAs)</a
          >
        </li>
      </ul>
    </div>

    <div class="links">
      <p><a href="">Locations</a></p>
      <br />
      <ul>
        <li><a href="locations#locations">Manesar</a></li>
        <li><a href="locations#locations">Rai</a></li>
        <li><a href="locations#locations">Panchkula</a></li>
      </ul>
    </div>

    <div class="links">
      <!--<p><a href="/#news">In the News</a></p>-->
      <p><a href="contact">Contact Us</a></p>
    </div>
  </div>
</footer>




