<section class="headline">
  <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
    Company Overview
  </h1>
  <p>The Company & Us</p>
</section>

<section class="Overview" id="companyOverview">
  <div class="overviewText">
    <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
      Company Overview
    </h1>
    <p data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
      Welcome to Anant Raj Data Centers, your trusted partner in powering
      India's digital future. As a subsidiary of Anant Raj Limited, a leading
      name in Indian real estate, we bring decades of expertise and a commitment
      to excellence to the realm of data center solutions. With a focus on
      innovation, reliability, and customer satisfaction, we deliver
      cutting-edge infrastructure and services tailored to the unique needs of
      businesses across the nation. From colocation and managed hosting to
      advanced security and connectivity solutions, Anant Raj Data Centers is
      your gateway to a smarter, more resilient digital landscape. Partner with
      us and unlock the potential of tomorrow, today
    </p>
    <a class="transparentButton" target="_blank" href="https://www.anantrajlimited.com/">Read More</a>
  </div>
</section>

<!--Vision And Mission-->

<section class="visionMissionOut">
  <section class="visionMission" id="visionMission">
    <div
      class="visionMissionText"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="300"
    >
      <h1>Vision</h1>
      <p>
        At Anant Raj Data Centers, our vision is to be the foremost provider of
        innovative and reliable data center solutions in India. We aspire to
        empower businesses of all sizes to harness the power of digital
        technology, driving growth, efficiency, and progress across the nation.
      </p>
    </div>
    <div
      class="visionMissionText"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="300"
    >
      <h1>Mission</h1>
      <p>
        Our mission at Anant Raj Data Centers is to deliver world-class data
        infrastructure solutions that exceed our clients' expectations and
        enable them to achieve their business objectives. Through continuous
        innovation, operational excellence, and a customer-centric approach, we
        strive to build long-term partnerships and contribute to the success of
        our clients in an increasingly digital world.
      </p>
    </div>
  </section>
</section>

<!--Our Founder-->

<section class="founder">
  <h1 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
    Our Founder
  </h1>

  <div
    class="founderImg"
    data-aos="fade-down"
    data-aos-duration="1000"
    data-aos-delay="300"
  ></div>

  <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
    <b>Shri Ashok Sarin</b>, was the visionary founder Chairman of Anant Raj
    Limited with five decades of experience in the real estate and construction
    sectors. Widely regarded as a prominent figure in the industry, he iswas the
    driving force behind the extraordinary achievements and success of Anant Raj
    Limited.
  </p>
</section>

<section class="Certification">

  <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">Certifications</h1>

  <div class="certificate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">

    <p>TIA-942B Rated 3 Certified</p>
    <img src="../../../assets/misc/certificates/TIA-942B_Rated.jpg" alt="">

  </div>

  <div class="certificate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">

    <p>IGBC Precertified Gold Certification</p>
    <img src="../../../assets/misc/certificates/IGBC Precertified Gold Certification.jpg" alt="">

  </div>


</section>